.containerAll {
    border: 1px solid #009ed8;
    width : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.openCourse {
    margin-top: 15px;
    margin-right: 15px;
}

h1{
    color: #009ed8;
}