.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.justify-around{
    justify-content: space-around;
}

.justify-between{
    justify-content: space-between;
}

.justify-start{
    justify-content: flex-start;
}

.align-center{
    align-items: center;
}

.align-start{
    align-items: flex-start;
}

.gap-s{
    gap: 0.5rem;
}

.gap-m{
    gap: 1rem;
}

.gap-l{
    gap: 1.5rem;
}

.gap-xl{
    gap: 2rem;
}

.wrap{
    flex-wrap: wrap;
}

.width-100{
    width: 100%;
}

.width-80{
    width: 80%;
}

.width-40{
    width: 40%;
}

.width-20{
    width: 20%;
}

.width-15{
    width: 15%;
}

.padding-s{
    padding: 0.5rem 1rem;
}

.padding-m{
    padding: 1rem 1.5rem;
}

.padding-l{
    padding: 1.5rem 2rem;
}

.blue-bg{
    background-color: #009ed8;
}

.white-text{
    color: #FFFFFF;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scroll{
    overflow-x: auto;
}

.border-right{
    border-right: 1px solid grey;
}

.border{
    border: 1px solid #009ed8;
    border-radius: 5px;
}

.card-border{
    border: 1px solid #009ed8;
    border-radius: 5px;
}

.card-border:hover{
    background-color: #009ed8;
    color: #ffffff;
    transition: 0.5s;
}

button{
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #ff66c4;
    cursor: pointer;
}

.disabled-button {
    background-color: #ffbce5;
    cursor: not-allowed;
}

.navbar{
    position: sticky;
}