.link-button{

    border-left: 3px solid rgb(214, 214, 214);
    text-decoration: none;
}

.link-button:hover{
    background-color: #ff66c4;
}

.link-button:active{
    transform: scale(1.1);
    transition: 0.05s;
}

.link-button:focus{
    background-color: #ff92d5;
}

.image-container{
    height: 4rem;
    padding-right: 0.5rem;
} 

