.person-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
  width: 75%;
  padding: 15px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s ease-in-out;
}

.person-item:hover {
  background-color: #f5f5f5;
}

.person-name {
  font-size: 18px;
  font-weight: bold;
}

.chat-link {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}

.chat-icon {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}
