@media(max-width: 900px){
    .post-editor{
        margin: 1em;
    }
}


/* .header h3 {
    color: #009ed8;
} */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

/* .header{
    border: 1px solid #009ed8;
    color: #009ed8;
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: center;
} */

.body{
    border: 1px solid #009ed8;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.post-editor{
    margin-top: 10px;
    width: 80%;
    min-height: fit-content;
}

.post-button {
    background-color: #009ed8;
    margin-bottom: 15px;
    margin-top: 5px;
    color: white;
    float: right;
    width: 100px;
    height: auto;
}